@model Musteri

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bilgilerinizi Giriniz</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="MusteriKayit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="AracId" type="hidden" value="@Context.GetRouteValue("id")" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Adi" class="control-label"></label>
                                <input asp-for="Adi" class="form-control" required />
                                <span asp-validation-for="Adi" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Soyadi" class="control-label"></label>
                                <input asp-for="Soyadi" class="form-control" required/>
                                <span asp-validation-for="Soyadi" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TcNo" class="control-label"></label>
                                <input asp-for="TcNo" class="form-control" />
                                <span asp-validation-for="TcNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" required/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Adres" class="control-label"></label>
                                <input asp-for="Adres" class="form-control" />
                                <span asp-validation-for="Adres" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telefon" class="control-label"></label>
                                <input asp-for="Telefon" class="form-control" />
                                <span asp-validation-for="Telefon" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Notlar" class="control-label"></label>
                                <input asp-for="Notlar" class="form-control" />
                                <span asp-validation-for="Notlar" class="text-danger"></span>
                            </div>
                            <div class="form-group  mt-3">
                                <input type="submit" value="Bilgi Al" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->